* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/assets/img/backgroud-image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.container .logo-nav{
    display: flex;
    width: 17rem;
}

.container .navbar {
    display: flex;
    text-decoration: none;
    list-style: none;
    transition: background-color 0.3s

}
.container .navbar li{
    margin: 3rem;
    font-size: 1.5rem;
}
.navbar li a{
    color: rgb(129, 4, 129);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

li a:hover {
    background-color: rgb(227, 216, 216);
    transition: background-color 0.3s;
    
}

.button-nav {
    cursor: pointer;
    color: black;
    border: 0.01rem solid rgb(130, 130, 130);
    border-radius: 5rem;
    padding: 0.7rem 1rem;
    margin-right:5rem ;
}

.content {
    margin: 5rem;
    align-items: right;
    text-align: right;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        flex-direction: column; /* Links em coluna */
        margin-top: 1rem;
    }

    .navbar li {
        margin: 1rem 0;
    }
}


