* {
    margin: 0;
    padding: 0;
}

body{background-color: rgb(240, 240, 240);}

html {
    scroll-behavior: smooth;
}


.container .logo-nav {
    width: 12rem;
    margin: 1rem ;
    border-radius: 50%;
}

.container .navbar {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    align-items: center;

}
.container .navbar li{
    font-size: 2rem;
}
.container .navbar li a{
    text-decoration: none;
    margin: 2rem;
    background-color: aliceblue;
}